body {
  font-family: helvetica;
  font-size: 14px;
}

.axis path,
  .axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
  }

.ratio-toolbar1,
.ratio-toolbar2,
.ratio-toolbar3,
.ratio-toolbar4 {
  width: 100%;
  height: 15%;
}

.selection {
  margin: 10 10px;
  margin-bottom: 10px;
}

#d3 {
  width: 100%;
  height: 85%;
  position: absolute;
  top: 15%;
  left: 0px;
}

#cy_left {
  position: absolute;
  width: 80%;
  height: 85%;
  top: 15%;
  left: 0px;
}

#cy_right {
  width: 20%;
  height: 85%;
  position: absolute;
  top: 15%;
  left: 80%;
  margin-right: 10px;
}


#testtype {
    display: inline;
    position: absolute;
}


.axis text {
    font-family: sans-serif;
    font-size: 12px;
}

.radio-toolbar1 form,
.radio-toolbar1 form div,
.radio-toolbar1 button,
.radio-toolbar2 form,
.radio-toolbar2 form div,
.radio-toolbar2 button,
.radio-toolbar3 form,
.radio-toolbar3 form div,
.radio-toolbar3 button,
.radio-toolbar4 form,
.radio-toolbar4 form div,
.radio-toolbar4 button {
    display: inline;
    position: absolute;
}


/* From https://markheath.net/post/customize-radio-button-css */
.radio-toolbar1 input[type="radio"],
.radio-toolbar2 input[type="radio"],
.radio-toolbar3 input[type="radio"],
.radio-toolbar4 input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.radio-toolbar1 label,
.radio-toolbar2 label,
.radio-toolbar3 label,
.radio-toolbar4 label {
    display: inline;
    background-color: #ddd;
    padding: 2px 5px;
    font-family: sans-serif, Arial;
    font-size: 13px;
    border: 2px solid #444;
    border-radius: 4px;
}
.radio-toolbar1 input[type="radio"]:focus + label,
.radio-toolbar2 input[type="radio"]:focus + label,
.radio-toolbar3 input[type="radio"]:focus + label,
.radio-toolbar4 input[type="radio"]:focus + label {
    border: 2px dashed #444;
}

.radio-toolbar1 input[type="radio"]:checked + label {
    background-color:#ffc2c2; /* lighter */
    border-color: #ff0f0f; /* darkest */
}
.radio-toolbar1 label:hover {
  background-color: #ffdbdb; /* lightest */
}

.radio-toolbar2 input[type="radio"]:checked + label {
    background-color:#ffdec2; /* lighter */
    border-color: #ff7e0f; /* darkest */
}
.radio-toolbar2 label:hover {
  background-color: #ffe9d6; /* lightest */
}

.radio-toolbar3 input[type="radio"]:checked + label {
    background-color:#bfb; /* lighter */
    border-color: #4c4; /* darkest */
}
.radio-toolbar3 label:hover {
  background-color: #dfd; /* lightest */
}

.radio-toolbar4 input[type="radio"]:checked + label {
    background-color:#b8eaff; /* lighter */
    border-color: #1abcff; /* darkest */
}
.radio-toolbar4 label:hover {
  background-color: #e0f6ff; /* lightest */
}




/*          Dropdown list       */
/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


#select_folder_div, #choose_alpha_div{    
    display: inline;
}

#select_folder{
  width: 200px;
  text-overflow: ellipsis;
}

div#choose_alpha_div{
  left: 300px;
  position: absolute;
}

#choose_alpha{
  width: 50px;
}

#choose_alpha_submit {
    display: inline;
    background-color: #ddd;
    padding: 1px 1px;
    font-family: sans-serif, Arial;
    font-size: 12px;
    border: 2px solid #444;
    border-radius: 4px;
}

#scale_input{
  width: 50px;
}


/*.slider {
   transform: rotate(270deg);
  -moz-transform: rotate(270deg);
}*/